:host(open) .inner-scroll {
      display: flex;
}
.connect-version-label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: .8em;
  opacity: 0.5;
  z-index: 1000;
}
.connect-content ion-list {
    width: 100%; 
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

.connect-content ion-list ion-list-header {
  background-color: var(--ion-tab-bar-color-activated);
  color: var(--ion-tab-bar-color);
  width: 100%;
  flex: 0;
}

.connect-content ion-list ion-list-header ion-label {
  margin: auto;
}

.connect-content ion-list .spacer {
  flex: 1;
}

.connect-content ion-list ion-item {
  text-align: center;
  flex: 0 1 1;
  display: flex;
  align-self: center;
}

.connect-content ion-list ion-item ion-button {
  margin: auto;
}

.connect-content ion-list ion-item ion-label {
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.connect-content ion-list ion-item ion-checkbox {
  margin: auto;
}