.info-content ion-list {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

.info-content ion-list ion-item-group {
}

.info-content ion-list ion-list-header {
  background-color: var(--ion-tab-bar-color-activated);
  color: var(--ion-tab-bar-color);
  width: 100%;
  flex: 0;
}

.info-content ion-list ion-item-group ion-item .label {
  flex: 1;
  overflow: visible;
  margin: 2px 5px 2px 5px;
}

.info-content ion-list ion-item-group ion-item .value {
  flex: 1;
  text-align: right;
  overflow: visible;
  margin: 2px 5px 2px 5px;
}


.info-content ion-list .spacer {
  flex: 1;
}

.info-content ion-list ion-item {
  text-align: left;
  display: flex;
  margin: auto;
}

.info-content ion-list ion-item ion-label {
  flex: 1;
}
.info-content ion-list ion-item ion-button {
  flex: 1;
  text-align: right;
}

.info-content ion-list ion-item ion-select {
  flex: 1;
  text-align: right;
}

.info-content ion-list .led-item {
  flex-direction: column;
}

.info-content ion-list .led-item ion-label {
  overflow-x: visible;
}